.upload-section {
  height: calc(100vh - 68px);
  width: 100vw;
  position: absolute;
  background-color: var(--off-white);
  text-align: center;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  left: -100vw;
}

.upload-section.active {
  left: 0vw;
}

.upload-area {
  height: calc(100% - 60px);
  width: 100%;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  color: grey;
  border: 2px dashed var(--dark-border);
}

.upload-area input[type='file'] {
  display: none;
}
.upload-area label {
  cursor: pointer;
}
